<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<!--Top menu-->
<div th:replace="fragments/menu.html :: top-menu"/>

<div class="index_info container-flurry mt-3 mr-3 ml-3">
    <div class="container-flurry ml-4 mr-4">
        <p class="users-text mt-3">Users</p>
        <a href="#" class="btn btn-info float-right mt-4">Create a new user</a>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col" class="status-col">Status</th>
                <th scope="col">Created Date</th>
                <th scope="col">Last Modified By</th>
                <th scope="col">Last Modified Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <th th:text="${user.id}" scope="row">1</th>
                <td th:text="${user.login}">login</td>
                <td th:text="${user.email}">email</td>
                <td>
                    <a th:if="${user.active==0}"
                       th:href="'/admin/user/setUserActiveStatus?email='+${user.email}+'&status=1'"
                       href="#" class="btn btn-success">Activated</a>
                    <a th:if="${user.active==1}"
                       th:href="'/admin/user/setUserActiveStatus?email='+${user.email}+'&status=0'"
                       href="#" class="btn btn-danger">Deactivated</a>
                </td>
                <td th:text="${user.createdDate} + ' ' + ${user.createdTime}">created date</td>
                <td th:text="${user.lastModifiedBy}">last modified by</td>
                <td th:text="${user.lastModifiedDate} + ' ' + ${user.lastModifiedTime}">last modified date</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--    <p class="users-text ml-4 mt-3">Users</p>-->
    <!--    <a href="#" class="btn btn-info float-right mr-4 mt-4">Create a new user</a>-->


</div>
<!--<div class="container-furry bg-primary mt-2">-->
<!--    <h1 class="text-center">Пользователи: </h1>-->
<!--</div>-->

<!--<div class="container mt-2">-->
<!--    <div style="height: 105px; background-color:lightblue" th:each="user : ${users}" class="mb-4 pb-3 pt-3 pl-2">-->
<!--        <h3 th:text="${user.email}">Имя пользователя</h3>-->
<!--        <a th:if="${user.active==0}" th:href="'/admin/user/setUserActiveStatus?email='+${user.email}+'&status=1'"-->
<!--           href="#" class="btn btn-success float-right mr-2">Активировать</a>-->
<!--        <a th:if="${user.active==1}" th:href="'/admin/user/setUserActiveStatus?email='+${user.email}+'&status=0'"-->
<!--           href="#" class="btn btn-danger float-right mr-2">Деактивировать</a>-->
<!--        <a href="#" th:href="'/admin/user/edit?email=' + ${user.email}" class="btn btn-primary float-right mr-2">Редактировать</a>-->
<!--        <a th:href="'/admin/user/delete?email='+${user.email}" href="#" class="btn btn-danger float-left">Удалить</a>-->
<!--    </div>-->

<!--    <div class="container-flurry">-->
<!--        <a style="border-radius: 100px;" href="/admin/user/add" class="btn btn-primary float-right">Добавить-->
<!--            пользователя</a>-->
<!--    </div>-->
<!--</div>-->

<script th:src="@{/js/script.js}"></script>
</body>
</html>
