<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<!--Top menu-->
<div th:replace="fragments/menu.html :: top-menu"/>
<div th:replace="fragments/create-user.html :: create-user-modal"/>

<div class="index_info container-flurry mt-3 mr-3 ml-3">
    <div class="container-flurry ml-4 mr-4">
        <p class="users-text mt-3">Users</p>
        <a href="#" class="btn btn-info float-right mt-4" data-toggle="modal" data-target="#createUserModal"
           id="createUserBtn">
            <i class="fas fa-user-plus"></i>
            Create a new user</a>

        <table class="table table-striped" id="users-table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col" class="status-col">Status</th>
                <th scope="col">Profiles</th>
                <th scope="col">Created Date</th>
                <th scope="col">Last Modified By</th>
                <th scope="col">Last Modified Date</th>
                <th scope="col" class="status-col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="eachUser:${users}">
                <th th:text="${eachUser.id}" scope="row">1</th>
                <td>
                    <small th:text="${eachUser.login}">login</small>
                </td>
                <td>
                    <small th:text="${eachUser.email}">email</small>
                </td>

                <td>
                    <a th:if="${eachUser.active==0}"
                       th:href="'/admin/user/setUserActiveStatus?email='+${eachUser.email}+'&status=1'"
                       href="#" class="btn btn-danger"><small>Deactivated</small>
                    </a>
                    <a th:if="${eachUser.active==1}"
                       th:href="'/admin/user/setUserActiveStatus?email='+${eachUser.email}+'&status=0'"
                       th:attr="class='btn btn-success ' + (${user.username == eachUser.email}?'disabled':'')"
                       href="#" class="btn btn-success"><small>Activated</small>
                    </a>
                </td>

                <td>
                    <p th:each="role:${eachUser.roles}" class="role-name">
                        <small th:text="'ROLE_' + ${role.role}" class="font-weight-bold">role</small>
                    </p>
                </td>

                <td>
                    <small th:text="${@dateFormatService.formatDate(eachUser.createdDate, eachUser.createdTime)}">
                        created date
                    </small>
                </td>

                <td>
                    <small th:text="${eachUser.lastModifiedBy}">
                        last modified by
                    </small>
                </td>

                <td>
                    <small th:text="${@dateFormatService.formatDate(eachUser.lastModifiedDate, eachUser.lastModifiedTime)}">
                        created date
                    </small>
                </td>

                <td>
                    <a th:href="'/admin/user/delete?email='+${eachUser.email}" href="#"
                       class="btn btn-danger float-left"
                       th:attr="class='btn btn-danger float-left ' + (${user.username == eachUser.email}?'disabled':'')"><small>
                        <i class="fas fa-user-times"></i>
                        Delete</small>
                    </a>
                    <a href="#" th:href="'/admin/user/edit?email=' + ${eachUser.email}"
                       class="btn btn-primary float-right mr-2"><small>
                        <i class="fas fa-user-edit"></i>
                        Edit</small>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${countOfPages}" class="text-center mb-2 pb-1">
        <div class="users-pagination btn-group">
            <a href="/admin?pageNumber=0" class="btn pagination-btn">««</a>
            <a href="#" class="btn pagination-btn"
               th:href="'/admin?pageNumber='+(${pageNumber==0}?'0':${pageNumber-1})">«</a>
            <a href="#" class="btn btn-primary pagination-btn" th:text="${pageNumber+1}">1</a>
            <a href="#" class="btn pagination-btn"
               th:href="'/admin?pageNumber=' + (${countOfPages==(pageNumber+1)} ? ${pageNumber} : ${pageNumber+1})">»</a>
            <a href="#" class="btn pagination-btn" th:href="'/admin?pageNumber='+${countOfPages-1}">»»</a>
        </div>
    </div>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
