<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
<!--Top menu-->
<div th:replace="fragments/menu.html :: top-menu"></div>
<div th:replace="fragments/sign-in.html :: sign-in-modal"/>

<div class="container-flurry bg-primary mt-2">
    <h3 th:text="'Смена пароля у аккаунта - ' + ${domainUser.email}" class="text-center">Данные</h3>
</div>

<div th:if="${error}" class="container bg-danger mb-2 mt-2">
    <h3 th:text="${error}">Ошибка</h3>
</div>

<div class="container mt-1">
<form action="/user/acceptChangePassword" method="post">
    <h5>Старый пароль: </h5>
    <input type="password" placeholder="Старый пароль" name="oldPassword" class="form-control">
    <h5>Новый пароль: </h5>
    <input type="password" placeholder="Новый пароль" name="newPassword" class="form-control">
    <br/>
    <input type="submit" class="btn btn-success float-right" value="Сменить">
</form>
</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>
