<div th:fragment="sign-in-modal" class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModal"
     aria-hidden="true" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signInModalLabel">Sing in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">

                <div class="container-flurry info-block ml-5 mr-5 mb-4 incorrect-login fs-default" th:if="${param.error}">
                    <p class="pt-3 pb-3 text-center">Login or Password is wrong. Please try again.</p>
                </div>

                <form th:action="@{/login}" method="post">
                    <p>Login</p>
                    <input type="text" name="username">
                    <p class="mt-3">Password</p>
                    <input type="password" name="password">
                    <br>
                    <input type="submit" class="btn btn-primary mt-3" value="Sign in">
                </form>

                <div class="info-block authorization-block container fs-default mb-4 mt-3">
                    <p class="pt-3 pb-3 pl-2 text-center ">You don't have an account yet?
                        <a href="/?register" class="index-href-to-authorization">Register a new account.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script th:if="${param.login} or ${param.error}">
        function openModal() {
            $("#sign-in").click();
        }
        setTimeout(openModal, 0);
    </script>
</div>
